.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  grid-template-areas: 
    "total total total total"
    "digit digit digit"
    "digit digit digit"
    "digit digit digit digit"
    "operacio operacio"
    "clear";
  grid-auto-columns: 1fr;
}

.result {
  background-color: black;
  font-size: 1.5rem;
  color: white;
  height: 20vh;
  text-align: center;
}

.grid-container {
  background-color: grey;
  font-size: 1.5rem;
  color: black;
  height: 50vh;
  display: grid;
  grid-template-columns: auto auto auto;
}

.operadors {
  background-color: black;
  font-size: 1.5rem;
  color: white;
  height: 20vh;
  text-align: center;
}

.clear {
  height: 20vh;
  text-align: center;
}